.home{
    background-color: #F9FAFB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-container{
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
}
.home-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}
.home-content h1{
    font-size: 50px;
    margin-top: 70px;
    max-width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-container img{
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 20px;
}
.home-description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    align-items: flex-start;
}
.home-description p{
    max-width: 700px;
}
.home-description button{
    height: 50px;
    width: 150px;
    color: white;
    background-color: #4F46E5;
    border-radius: 5px;
    border: 1px solid #4F46E5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.home-description button:hover{
    background-color: #4338CA;
}
