
.header{
    background-color: #FFFFFF;
    display: flex;
    justify-content:space-between;
    padding: 20px 30px 20px 30px; 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3)
}
.header-text{
    text-decoration: none;
    color: #4F46E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease, border-bottom;
    padding-bottom: 5px;
}
.nav-link:hover{
    color: #4F46E5;
    border-bottom: 3px solid #4F46E5;
}