.footer{
    background-color: #111827;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.footer p{
    color: #9AA0AD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}